# Gradle
.gradle
build/
!build/libs/
*.gradle

# IDE
.idea/
*.iml
.vscode/
*.swp
*.swo
*~

# Compiled
*.class
*.jar
!gradle/wrapper/gradle-wrapper.jar
*.war
*.ear

# Logs
*.log

# OS
.DS_Store
Thumbs.db
